<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Update your blog</h1>
        <form method="POST">
            <input
                type="text"
                name="title"
                placeholder="title"
                value="{{result['title']}}"
                required
            />
            <input
                type="text"
                name="body"
                placeholder="body"
                value="{{result['body']}}"
                required
            />
            <button type="submit">Update</button>
        </form>

        <br />
        <br />
        {% if error != "" %}
        <h3>{{error}}</h3>
        {% endif %}
    </body>
</html>
